{
  "lastChangelogVersion": "0.83.0",
  "enableInstallTelemetry": false,
  "defaultProvider": "deepseek",
  "defaultModel": "deepseek-reasoner",
  "hideThinkingBlock": false,
  "contextFiles": true,
  "compaction": {
    "reserveTokens": 49152,
    "keepRecentTokens": 20000
  },
  "packages": [
    "npm:pi-web-access",
    "npm:pi-subagents"
  ],
  "defaultThinkingLevel": "max",
  "terminal": {
    "showTerminalProgress": true
  },
  "doubleEscapeAction": "tree",
  "theme": "dark"
}
